/*  1-uyga vazifa uchun css .col{
    background-color: rgb(224, 216, 0);
    border: 4px solid white;
font-size: 50px;

} */
/* .col{
    border: 4px solid white;
font-size: 50px;
color: pink;
cursor: grabbing;
border: 1px solid black;
}

.yov{
    background-color: rgb(231, 130, 67);
    border: 4px solid white;
font-size: 50px;
color: rgb(231, 130, 67) ;
cursor: grabbing;   
width: 100px;
}*/

 
/*  1-uyga vazifani csssi.container{
    border: 1px solid red;
    border-radius: 19px;
}


h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
text-align: center;
} 
 tugashi*/
/* boshlanishi.mb-3{
    display: flex;
    position: fixed;
    margin: 20px;
    padding: 20px;
}
.ulol{
    display: flex;
    word-spacing: 10px;
    color: rgb(231, 239, 0);
}
.float{
    margin: 1000px;
    display: inline;
    color: rgb(16, 241, 0);
    padding: 100px;

    
}
.left{
    color: brown;
    background-color: rgb(31, 222, 152);
    margin: 10px;
    height: 30px;
    width:1100px;
    border-radius: 5px;
    text-align: center;
    word-spacing: 5px;

}
.container{
    border: 1px solid  black;
    margin: 10px;
border-radius: 6px;
box-shadow: 35px 35px 20px -10px rgba(7, 25, 222, 0.2);
background-color: rgb(15, 93, 119);
cursor: wait;
}

juda ajiyib vazifa tugashi
 */
 h1{
    text-align: center;
 }
 .container{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 35px 35px 20px -10px rgba(1, 234, 90, 0.2);
    display:block;

}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
}
.yellow{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}
#kinopka{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #00ccf0;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#kinopka:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #0035b0;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme{
    background-color: #000000;
    color: #b50f0f;
}
.dark-theme #kinopka{
    background-color: #00d1a4;
}
.dark-theme #kinopka:after{
    background-color: transparent;
    box-shadow: 10px 10px #000000;
    top: -4px;
    left: 30px;
}



